@charset "UTF-8";

* {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;	
}

#wrapMain {
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}



/* -----------------------------------nav top_menu1 시작--------------------------------------------- */

#wrapMain header {
	height: 695px;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	
}

#logo {
	float:left;
	margin: 0 0 0 100px;
	padding: 5px;
}

nav#top_menu1 {
    width: 100%;
    height: 70px;
	background-color: black;
    float: right;	
    
}


nav#top_menu1 ul {
	list-style: none;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: white;
	
}

nav#top_menu1 ul li{
	float: left;
	margin: 0 5px;
}

nav#top_menu1 a{
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color:darkgray;
}

nav#top_menu1 a:hover {
	color:white;
}



#login {
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	word-spacing:5px;
    float:right;
    margin: 0 50px 0 0;
	
}

#login a{
    text-decoration: none;
    float:left;
	color: #333;
}

#login a:hover {
	color:white;
}

.clear {
	clear:both;
}
/* -----------------------------------#top_menu2 시작--------------------------------------------- */

#top_menu2 {
	width: 100%;
	height: 625px;
	float:left;
	/* border: 1px solid blue; */
    background-image: url(../myimages/background_battle.jpg);
    
}



#bannerIcon {
    float: left;
    position: relative;
	bottom:20px;
	
	
}

#bannerIcon:hover {
    cursor: pointer;
}


#w3-bar  {
    position: static; 
    margin: 100px auto;
    width: 85%;
    height:120px;
    border-radius: 10px;
    background-color:#723E0E;
    opacity: 0.9;
    
    
}

#barControl {
    display: inline-block;
    margin: 0 0 0 30px;
}

#w3Text1 {
    margin: 25px 40px 0 0;
    left:100px;
    font-size: 30px;
    color: #FCDE03;
    
}

#w3Text2 {
    font-size: 22px;
    color: #FCDE03;
    background-color: #723E0E;
}







#gameplay {
	padding: 10px;
	background-color: purple;
	font-size: 20px;
	color:white;
	margin: 30px 50px 0 0;
	cursor:pointer;
    border-radius: 10px;
    float:right;

}

#battleGroundLogo {
	text-align: center;
	margin-top:-20px;
}


.clear {
	clear:both;
}
/* -----------------------------------#article 시작--------------------------------------------- */


#wrapMain article {
	width:100%;
	height: 1000px;
	background-image: url(../myimages/redbackground.jpg);
	float:left;
	
	
}

#maintext {
	color: white;
	text-align: center;
	font-size: 50px;
		
}

#subtext {
	color:white;
	text-align: center;
	font-size: 20px;
	margin: -30px 0 0 0;
}	

#heroIntro{
	text-align: center;
	margin: 30px auto;
	
	
}


.shaman,.warrior,.rogue,.paladin {
	display: inline;
	border-radius: 10px;
	margin:5px 5px;
	
	
}



.shaman:hover,.warrior:hover,.rogue:hover,.paladin:hover {
	transform: scale(1.1);
	cursor: pointer;
}


.hunter,.druid,.mage,.warlock {
	display: inline;
	border-radius: 10px;
	margin:5px 5px;

} 

.hunter:hover,.druid:hover,.mage:hover,.warlock:hover {
	transform: scale(1.1);
	cursor: pointer;
} 

#footerimage {
	text-align: center;
}


.clear {
	clear:both;
}

/* -----------------------------------#footer 시작--------------------------------------------- */

#wrapMain footer {
	background-image:url(../myimages/footer.jpg);
	width: 100%;
	height: 749px;
	
	

	
}

.footerMain {
	background-color: #4A4848;
	width: 100%;
	height: 100px;
	text-align: center;
	
	
}

.youtube,.facebook,.instagram {
	display: inline-block;
	position: relative;
	top: 20px;
		

}

.logoImage {
	margin-top: 30px;
	text-align: center;
	
}

.private {
	color:white;
	text-align: center;
}

.footerDev {
	font-size: 20px;
}

.company {
	color:white;
	text-align: center;
	font-size: 12px;
}

.image1 {
	text-align: center;
	margin-top: 50px;
	
}

.image2 {
	text-align: center;
}





/* -----------------------------------#signUpHeader 시작--------------------------------------------- */


#wrapSignUp header {
	height: 70px;
}

nav#signUpHeader {
    width: 100%;
    height: 70px;
	background-color: black;
	float: right;	
}


nav#signUpHeader ul {
	list-style: none;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: white;
}

nav#signUpHeader ul li{
	float: left;
	margin: 0 5px;
}

nav#signUpHeader a{
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color:darkgray;
}

nav#signUpHeader a:hover {
	color:white;
}



#login {
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	word-spacing:5px;
    float:right;
    margin: 0 50px 0 0;
	
}

#login a{
    text-decoration: none;
    float:left;
	color: #333;
}

#login a:hover {
	color:white;
}

/* -----------------------------------#signarticle 시작--------------------------------------------- */


#wrapSignUp article {
	width:100%;
	height: 1300px;
	
	background-image: url(../myimages/dark.jpg);
	float:left;
	
	
}

#signWrite {
	width:100%;
	height:300px;
	/* border: 3px solid red; */
	text-align: center;

}

.signLogo {
	margin-top: 30px;
}

.signText {
	font-size: 28px;
	color:white;
}

.signText2 {
	color:white;
	margin:5px;
}

.signText2:hover {
	color:lightskyblue;
	
	
}

#signMain {
	width: 100%;
	height: 1000px;
	/* border:5px solid greenyellow; */
	
	
}

#signForm {
	width:1000px;
	height:900px;
	/* border:1px solid red; */
	margin:50px auto;
}


.signLaw {
	display:block;
	overflow-y:scroll;
	width:700px;
	height:300px;
	border: 1px solid lightskyblue;
	margin:30px auto;
	color:white;
}

.signCheck {
	text-align: center;
	margin-right: 450px;
	color:white;
	
}

#agreeBox {
	margin-top: 50px;
	text-align: center;
}


.clear {
	clear:both;
}


/*------------------- ★ joinMain ★-------------------- */

#wrapJoin article {
	width:100%;
	height: 1000px;
	background-image: url(../myimages/dark.jpg);
	float:left;
	
	
} 

.joinText {
	color: ivory;
	font-size: 30px;
	position: relative;
	top:50px;
}

#joinMain {
	margin-top: 40px;
}

#joinInput {
	width: 800px;
	height: 700px;
	/* border: 1px solid #BABDBE; */
	position: relative;
	margin:150px auto;
	text-align: center;
	opacity: 0.9;
	/* border-radius: 20px; */
}

  
#wrapJoin footer {
	background-image:url(../myimages/footer.jpg);
	width: 100%;
	height: 749px;
	float: left;

	
}

input[type=text] {
	width:60%;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password] {
	width:60%;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}



input[type=email] {
	width:60%;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=tel] {
	width:60%;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=button], input[type=submit] {
	background-color: black;
	border: 1px solid #1497FB;
	color: #1497FB;
	padding: 16px 32px;
	text-decoration: none;
	margin: 0 4px;
	cursor: pointer;
  }

input[type=button]:hover, input[type=submit]:hover {
	color: #03DCF6;
	border: 1px solid #03DCF6;
}




/* -----------------------------------#signUpfooter 시작--------------------------------------------- */


#wrapSignUp footer {
	background-image:url(../myimages/footer.jpg);
	width: 100%;
	height: 749px;
	float: left;

	
}

.footerMain {
	background-color: #4A4848;
	width: 100%;
	height: 100px;
	text-align: center;
	
	
}

.youtube,.facebook,.instagram {
	display: inline-block;
	position: relative;
	top: 20px;
		

}

.logoImage {
	text-align: center;
	
}

.private {
	color:white;
	text-align: center;
}

.company {
	color:white;
	text-align: center;
}

.image1 {
	text-align: center;
	margin-top: 50px;
	
}

.image2 {
	text-align: center;
}





/* -----------------------------------#gameinfo 시작--------------------------------------------- */

#wrapGameInfo header {
	height: 870px;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

#gameInfo_menu2 {
	background-image: url(../myimages/hearthstone-heroes-of-warcraft_g-hintergrund-1.jpg);
	width: 100%;
	height: 800px;
	float:left;

	/* border: 1px solid blue; */
	
}

#infoTip {
	text-align: center;
}

.tip1 {
	
	color: white;
	font-size: 60px;
}

.tip2 {
	color: white;
	font-size: 20px;
	
}

/* -----------------------------------#gameInfo article 시작--------------------------------------------- */

#wrapGameInfo article {
	width:100%;
	height: 3200px;
	background-color: wheat;	
}

#infoMainPage {
	width: 1200px;
	height: 3000px;
	/* border: 1px solid red; */
	position: relative;
	top:100px;
	margin: auto;

}

#effect {
	height: 40%;
	/* border: 1px solid blue; */
}

.fireball {
	float:left;
	margin-right: 15px;
	
}

.bomb {
	float: right;
	
}

#tactics {
	height: 33%;
	/* border:1px solid green; */
}

.cardimage {
	position: relative;
	border-radius: 10px;
	left:150px;
	margin: 20px 0 20px 0;
}

#tip {
	height: 27%;
	/* border:1px solid purple; */
}

.host {
	float:right;
	border-radius: 10px;
	margin:10px 10px 0 0 ;	

}

.fireball:hover,.bomb:hover,.cardimage:hover {
	transform: scale(1.1);

}

.textBar {

	background-color: brown;
	width: 100%;
	height: 70px;
	border-radius: 10px;
}

.infoImage {
	margin: 7px 0 0 7px;
}

.infoText {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top:10px;
}

.infoText2 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	color: darkblue;
	font-weight: 600;
	position: relative;
	top:5px;
	font-weight: 50px;

}

.infoText3 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;

}

.infoText3 ol li {
	float:right;
}


.infoText4 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

/* -----------------------------------#gameInfo footer 시작--------------------------------------------- */

#wrapGameInfo footer {
	background-image:url(../myimages/footer.jpg);
	width: 100%;
	height: 749px;
	
	float: left;

	
}

.footerMain {
	background-color: #4A4848;
	width: 100%;
	height: 100px;
	text-align: center;
	
	
}

.youtube,.facebook,.instagram {
	display: inline-block;
	position: relative;
	top: 20px;
		

}

.logoImage {
	text-align: center;
	
}

.private {
	color:white;
	text-align: center;
}

.company {
	color:white;
	text-align: center;
}

.image1 {
	text-align: center;
	margin-top: 50px;
	
}

.image2 {
	text-align: center;
}



